@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #e2e8f0;
  
  --color-border: rgba(255, 255, 255, 0.1);
  --color-muted: #0f172a;
  --color-muted-foreground: #94a3b8;
  
  --color-accent: #ffffff;
  --color-accent-foreground: #000000;
  
  --color-destructive: #ef4444;
  --color-constructive: #22c55e;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  color-scheme: dark;
}
